* {
  margin: 0;
}

body {
  font-family: sans-serif;
  width: 100%;
  background-color: rgb(0, 130, 130);
}

header {
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 100, 100);
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 24px;
} 

main {
  padding: 100px 20px 20px 20px;
  height: 100%;

  display: flex;
  gap: 20px;
}

.board {
  min-width: 300px;
  height: 500px;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
}

.post {
  width: 100%;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 15px 15px 5px 15px;
  box-sizing: border-box;
  margin: 10px 0;
}

.status {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
}

img {
  width: 15px;
  margin-left: 10px;
}

img:first-child {
  margin-left: 0;
}

img.right {
  width: 32px;
  margin-left: auto;
}
